.fa-luogu {
    background-image: url(/images/luogu.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 15px;
    width: 13px;
    text-align: center;
}

.fa-codeforces {
    background-image: url(/images/codeforces.svg);
    background-position: 50% 75%;
    background-size: cover;
    height: 15px;
    width: 13px;
    text-align: center;
}

.fa-atcoder {
    background-image: url(/images/atcoder.png);
    background-position: 50% 75%;
    background-size: cover;
    height: 15px;
    width: 13px;
    text-align: center;
}
